<a href="https://colab.research.google.com/github/rosieb05/RocioBalderas_DTSC3020.020_Fall2025/blob/main/RocioBalderas_11442208_Assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#Question 1
#Create a list with 3 fruits (for example: apple, banana, orange).
#Print the entire list.
#Print each item separately.

fruits = ['mango', 'canteloupe' , 'watermelon']
print(fruits)

print(fruits[0])
print(fruits[1])
print(fruits[2])

['mango', 'canteloupe', 'watermelon']
mango
canteloupe
watermelon

In [3]:
#Question 2
#Create a list with 4 names.
#Change the first name to a different one.
#Print the new list.

names = ["Stephanie", "Vianey", "Andrea", "Natalia"]
names.remove("Stephanie")
names.insert(0, "Jessica")
print(names)

['Jessica', 'Vianey', 'Andrea', 'Natalia']

In [4]:
#Question 3
#Create a list with 5 vehicles (for example: car, bus, bike).
#Add one more vehicle to the end of the list.
#Print the list.

vehicles = ["car", "bus", "bicycle", "scooter", "motorcycle"]
vehicles.append("trailer")
print(vehicles)

['car', 'bus', 'bicycle', 'scooter', 'motorcycle', 'trailer']

In [5]:
#Question 4
#Create a list with 6 foods.
#Remove one food from the list.
#Print the new list.

foods = ["tacos", "tamales", "hot dogs", "flautas", "gorditas", "pupusas"]
foods.remove("hot dogs")
print(foods)

['tacos', 'tamales', 'flautas', 'gorditas', 'pupusas']

In [6]:
#Question 5
#Create a list with 4 cities.
#Sort the list in alphabetical order.
#Reverse the list.

cities = ["Chicago", "Colorado Springs", "Los Angeles", "San Francisco"]
cities.sort()
print(cities)

['Chicago', 'Colorado Springs', 'Los Angeles', 'San Francisco']

In [7]:
#Question 5 (option 2)
#Create a list with 4 cities.
#Sort the list in alphabetical order.
#Reverse the list.

cities = ["chicago", "colorado springs", "los angeles", "san francisco"]
cities.sort()
for city in cities:
  print(f"{city.title()}")

Chicago
Colorado Springs
Los Angeles
San Francisco

In [8]:
#Question 6
#Create a list with 3 animals.
#Use a for loop to print each animal.

animals = ["dog", "mouse", "bird"]
for animal in animals:
  print(animal)

dog
mouse
bird

In [9]:
#Question 7
#Create a list with numbers from 1 to 5.
#Use a for loop to print each number multiplied by 2.

numbers = list(range(1,6))
for number in numbers:
  print(number * 2)

2
4
6
8
10

In [10]:
#Question 8
#Create a list with 6 friends.
#Print the first three friends.
#Print the last three friends.

friends = ["Jessica", "Nazareth", "Mariela", "Stephanie", "Elizabeth", "Anabel"]
print(friends[:3])
print(friends[3:])
#another way for print the last three friends
print(friends[-3:])

['Jessica', 'Nazareth', 'Mariela']
['Stephanie', 'Elizabeth', 'Anabel']
['Stephanie', 'Elizabeth', 'Anabel']

In [11]:
#Question 9
#Use range() to create a list with numbers from 1 to 10.
#Print the list.

for number in range (11):
  print(number)

0
1
2
3
4
5
6
7
8
9
10

In [12]:
#Question 10
#Use list comprehension to create a list with the squares of numbers from 1 to 5.
#Print the list.

squares = [number**2 for number in range(1,6)]
print(squares)

[1, 4, 9, 16, 25]